/* Charts related */

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.charts-panel {
  text-transform: capitalize;
  display: grid;
  grid-template-rows: auto 1fr;
}

.chart-type-div {
  justify-self: end;
}

.chart-type {
  font-size: 0.6em;
  text-transform: uppercase;
}

.active-chart-type {
  color: var(--light-purple);
}

.chart-type:hover {
  color: var(--light-purple);
  cursor: pointer;
}

.separator {
  color: var(--darker-grey);
}

.basic-padding {
  padding: 1em;
}

/* Viewers Panel related */
.viewers-panel {
  border-right: solid 1px var(--light-grey);
}

.viewers-panel-title {
  text-align: left;
  font-size: 1.1rem;
  color: var(--light-purple);
  font-weight: 700;
  padding-bottom: 1rem;
}

.view-distribution {
  margin: 10px;
}

.change-count {
  display: grid;
  align-items: center;
  font-size: 0.9em;
  grid-template-columns: 1fr auto;
}
